@font-face {
    font-family: 'museo-sans';
    src: url(../fonts/MuseoSans_500.otf);
}

@font-face {
    font-family: 'museo-sans-bold';
    src: url(../fonts/MuseoSans_700.otf);
}

@font-face {
    font-family: 'museo-sans-light';
    src: url(../fonts/MuseoSans-300.otf);
}

* {
    font-family: 'museo-sans';
}
body{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.20) 68.83%, rgba(255, 255, 255, 0.20) 100%), #00A19C;
    min-height: 100vh;
    scrollbar-color: #fff rgba(255, 255, 255, 0.25);
    scrollbar-width: thin; 
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5px;
    
}
.trans-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 1;
}

.petronas-logo {
    width: 63px;
}

main {
    position: relative;
}

.register-img {
    position: absolute;
    top: 25.5%;
    left: 12.5%;
    width: 15%;
    transform: rotate(1.956deg);
    cursor: pointer;
}

.login-img {
    position: absolute;
    top: 25.5%;
    right: 12.5%;
    width: 15%;
    transform: rotate(-1.96deg);
    cursor: pointer;
}

.right-btns button,
.right-btns a {
    background: transparent;
    color: white;
    border: none;
    text-decoration: none;
    display: block;
    text-align: right;
    padding: 0;
    font-size: clamp(16px, calc(0.8vw + 7px), 22px);
}

.custom-modal .modal-content {
    background: #212121;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 0;
}

.custom-modal .modal-body {
    border: 3px solid #00FFF7;
    background: linear-gradient(180deg, #FDB924 0%, #00A19C 100%);
    border-radius: 0;
    text-align: center;
    padding: 45px 72px;
}

.custom-modal .modal-body p {
    color: white;
    font-family: 'museo-sans-light';
}

.custom-modal .btn-close {
    margin-left: auto;
    opacity: 1;
    filter: invert();
    transform: translateX(120%);
    margin-bottom: -25px;
}

.modal-heading {
    color: white;
    font-family: 'museo-sans-bold';
    font-size: 36px;
    margin-bottom: 30px;
}

.modal-heading-2 {
    color: white;
    font-family: 'museo-sans-bold';
    font-size: 29px;
    margin-bottom: 30px;
}
.modal-heading-2~p {
    color: white;
    font-family: 'museo-sans-bold';
    font-size: 24px;
}

.custom-input {
    width: 100%;
    padding: 5px 10px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.80);
    text-align: center;
    color: #00A19C;
    font-family: 'museo-sans-light';
    font-size: 18px;
}

.custom-input:hover,
.custom-input:focus {
    outline: 2px solid #00A19C;
}

.custom-input::placeholder {
    color: #00A19C;
    opacity: 1;
}

.custom-input:-moz-placeholder {
    color: #00A19C;
    opacity: 1;
}

.custom-input::-moz-placeholder {
    color: #00A19C;
    opacity: 1;
}

.check-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
    text-align: left;
}

.check-container a {
    color: white;
}

.check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: #fff;
}

.check-container:hover input~.checkmark {
    background-color: #fff;
}

.check-container input:checked~.checkmark {
    background-color: #00A19C;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.check-container input:checked~.checkmark:after {
    display: block;
}

.check-container .checkmark:after {
    left: 9px;
    top: 6px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.submit-btn {
    background: transparent;
    border: 2px solid white;
    width: 100%;
    padding: 5px 10px;
    color: white;
    outline: navajowhite;
}

.submit-btn:hover {
    background-color: #00A19C;
    border-color: #00A19C;
    font-family: "museo-sans-bold";
}

.forget-link {
    font-size: 14px;
    color: white;
    text-align: left;
}

.custom-hr {
    color: white;
    opacity: 1;
    margin-left: -12px;
    margin-right: -12px;
    border-top-width: 2px;
}

.contact-link {
    color: white;
    text-decoration: none;
    font-size: 22px;
}

.menu-links {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-links a {
    position: absolute;
    color: #FFF;
    /* text-shadow: -3px 3px 3.9px rgba(0, 0, 0, 0.75), 0px 0px 16px rgba(255, 232, 150, 0.50); */
    filter: drop-shadow(-3px 3px 3.9px rgba(0, 0, 0, 0.75)) drop-shadow(0px 0px 16px rgba(0, 255, 242, 0.75));
    text-align: center;
    font-size: 1.98vw;
    text-decoration: none;
    line-height: 106%
}

.menu-links li:nth-child(1) a {
    top: 46.5%;
    left: 28%;
}

.menu-links li:nth-child(2) a {
    top: 42.5%;
    left: 43.5%;
}

.menu-links li:nth-child(3) a {
    top: 46.5%;
    left: 63%;
}

.menu-links li:nth-child(4) a {
    top: 60.5%;
    left: 27%;
}

.menu-links li:nth-child(5) a {
    top: 60.5%;
    left: 63.3%;
}

.menu-links li:nth-child(6) a {
    top: 67%;
    left: 26%;
    width: 11.57%;
    filter: drop-shadow(-3px 3px 3.9px rgba(0, 0, 0, 0.75)) drop-shadow(0px 0px 16px rgba(0, 255, 242, 0.75));
}

.menu-links li:nth-child(7) a {
    top: 69%;
    left: 45.3%;
    font-size: 1.72vw;
}

.menu-links li:nth-child(8) a {
    top: 68%;
    left: 63%;
    font-size: 1.72vw;
}

.menu-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 35px;
}

.menu-header .petronas-logo {
    width: 5.8vw;
}

.menu-items {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: clamp(10px, calc(0.99vw + 1px), 22px);
    gap: 0.6rem;
}

.menu-items a {
    font-size: clamp(10px, calc(0.99vw + 1px), 22px);
    text-decoration: none;
    color: white;
    text-align: center;
}

.menu-items a.active {
    color: #00A19C;
}

.menu-items a img {
    width: 4.9vw;
}

.properties-name {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 63%;
    top: 13%;
    right: 5%;
    list-style: none;
}

.properties-name a {
    text-decoration: none;
    color: white;
    font-size: 1.5vw;
    display: block;
    transition: all .3s;
}

.properties-name li {
    position: relative;
}

.properties-name a:hover {
    filter: drop-shadow(0px 0px 5px rgba(0, 255, 242, 0.75));
    /* font-size: 1.55vw; */
}

.properties-name li:nth-child(1) a {
    /* margin-top: 22%; */
    transform: rotate(4deg) translateY(150%);
}

.properties-name li:nth-child(1)::after {
    content: "";
    height: 100%;
    position: absolute;
    left: 120%;
    width: 2px;
    background: white;
    top: 50%;
    transform: translateY(130%);
}

.properties-name li:nth-child(2) a {
    margin-top: 73%;
    transform: rotate(1deg);
    font-size: 1.1vw;
    line-height: 1.1;
    pointer-events: none;
}

.properties-name li:nth-child(3) a {
    margin-top: 60px;
    transform: rotate(-4deg);
}

.properties-name li:nth-child(4) a {
    margin-top: 35px;
    transform: rotate(-8deg);
}

.properties-name li:nth-child(5) a {
    margin-top: 8px;
    transform: rotate(-10deg);
}

.innovative-arrow-sign {
    position: absolute;
    bottom: 15%;
    left: 30%;
    width: 17.2%;
    transition: all .3s;
}

.innovative-arrow-sign:hover {
    filter: drop-shadow(0px 0px 5px rgba(0, 255, 242, 0.75));
}

#inovativeProperties {
    position: absolute;
    width: 63%;
    top: 15%;
    right: 5%;
    border: none;
    justify-content: center;
    z-index: 2;
}

#inovativePropertiesContent {
    position: absolute;
    width: 60%;
    top: 20%;
    right: 7%;
}

#inovativeProperties.nav-tabs .nav-link {
    border: none;
    transition: all .3s;
}

#inovativeProperties.nav-tabs .nav-link:hover {
    filter: drop-shadow(0px 0px 5px rgba(0, 255, 242, 0.75));
}

#inovativeProperties.nav-tabs .nav-item.show .nav-link,
#inovativeProperties.nav-tabs .nav-link.active {
    background: transparent;
    border: none;
    filter: drop-shadow(0px 0px 5px rgba(0, 255, 242, 0.75));
}

#inovativeProperties.nav-tabs .nav-item:nth-child(1) img {
    width: 15.16vw;
}

#inovativeProperties.nav-tabs .nav-item:nth-child(2) img {
    width: 35.8vw;
}

#inovativeProperties.nav-tabs .nav-item:nth-child(1) .nav-link {
    transform: translateY(45%);
}

.auditorium-video {
    position: absolute;
    width: 66%;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.agenda-btn {
    position: absolute;
    left: 85%;
    top: 10%;
    border: none;
    background: transparent;
    font-size: 1.3vw;
    color: white;
    padding: .5% 1%;
    width: 11.6%;

}

.agenda-table {
    width: 100%;
}

.agenda-table td {
    color: white;
    text-align: left;
    font-size: 20px;
    vertical-align: top;
    filter: drop-shadow(1px 2px 5px rgba(0, 0, 0, 0.50)) drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.50));
}

.agenda-table td:first-child {
    width: 100px;
}

.agenda-table td:last-child {
    width: calc(100% - 100px);
}

#agendaModal .modal-body {
    border: 3px solid #00FFF7;
    background: linear-gradient(180deg, #FDB924 0%, #00A19C 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.scroller {
    position: absolute;
    right: 0;
    top: 10%;
    width: 80.9%;
    height: 73%;
    overflow-x: hidden;
    display: flex;
}

.scroller img {
    height: 100%;
    width: auto;
}

.scroll-to-view-more {
    position: absolute;
    bottom: 40%;
    left: 5%;
    width: 11.1%;
}

.mbr-log {
    position: absolute;
    width: 20.9%;
    right: 10%;
    top: 30%;
}

.showcase-container {
    position: absolute;
    width: 50%;
    left: 3%;
    top: 22%;
}

.showcase-container h2 {
    color: #00A19C;
    font-size: 2.19vw;
    text-align: center;
    font-family: 'museo-sans-light';
    text-transform: uppercase;
    margin-bottom: 0.5em;
}

.showcase-container hr {
    color: #00A19C;
    border-width: 2px;
    opacity: 1;
}

.show-case-imgs {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 0.5vw;
    row-gap: 1vw;
    margin-top: 5%;
}

.show-case-imgs div {
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.show-case-imgs img {
    cursor: pointer;
}

.center-logo {
    grid-column-start: 7;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
}

#logosModal .modal-content {
    background: transparent;
    border: none;
}

#logosModal .modal-body {
    position: relative;
    padding: 5rem 3rem;
}
.logos-popup-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.logo-bg {
    width: max-content;
    background-color: white;
    padding: 25px;
    max-width: 100%;
}

.logo-bg img{
    height: 150px;
    max-width: 100%;
}

.info-btns button {
    color: white;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.80);
    position: absolute;
    font-size: 2.6vw;
    background: transparent;
    border: none;
    font-family: 'museo-sans-bold';
}

.info-btns .faq-btn {
    left: 5%;
    top: 54%;
}

.info-btns .contact-btn {
    right: 3%;
    top: 54%;
}

.info-btns .download-btn {
    left: 50%;
    top: 54%;
    transform: translateX(-50%);
    font-size: 2.3vw;
}

.popup-bg {
    background: rgba(0, 0, 0, 0.60);
    backdrop-filter: blur(10px);
    border-radius: 50% 50% 0 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    aspect-ratio: 1;
    width: 42.9%;
    top: 22.5%;
    clip-path: polygon(0 0, 100% 0, 100% 79%, 0 79%);
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s;
}

.info-popups {
    position: absolute;
    top: 31%;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    opacity: 0;
    z-index: 5;
    color: white;
    font-size: 2vw;
    z-index: 5;
    visibility: hidden;
    height: 43%;
    transition: opacity .3s;
}


.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 2%;
    margin-bottom: 4%;
    border-bottom: 4px solid white;
}

.popup-header h2 {
    font-size: 2.1vw;
    color: white;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.50);
    margin: 0;
    margin: 0 auto;
    text-align: center;
}

.popup-close {
    background: transparent;
    border: none;
    width: 3%;
    padding: 0;
    transform: translateX(-200%);
}

.info-popups-body {
    height: 100%;
    overflow-y: auto;
    background: linear-gradient(180deg, rgba(0, 161, 156, 0.00) 0.4%, rgba(0, 161, 156, 0.20) 13.23%, rgba(0, 161, 156, 0.25) 49.48%, rgba(0, 161, 156, 0.20) 87.36%, rgba(0, 161, 156, 0.00) 100%);
    padding: 15px;
    scrollbar-color: #fff rgba(255, 255, 255, 0.25);
    scrollbar-width: thin; 
}


.info-popups-body::-webkit-scrollbar {
    width: 5px;
}

.info-popups-body::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 5px;
}

.info-popups-body::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5px;
    
}

.question-box {
    border-bottom: 2px solid white;
    margin-bottom: 1.5rem;
}

.question-box h5 {
    font-size: calc(0.5vw + 11px);
    color: white;
    font-family: 'museo-sans-bold';
}

.question-box p {
    font-size: calc(0.5vw + 7px);
    color: white;
}
.contact-body p{
    font-size: calc(0.5vw + 9px);
}
.contact-body h6{
    font-size: calc(0.72vw + 10px);
}
.email-btn{
    border: 2px solid white;
    padding: 10px 15px;
    font-size: calc(0.5vw + 9px);
    color: white;
    text-decoration: none;
}
.email-btn img{
    width: 5%;
    margin-left: 10px;
}
.contact-body hr{
    color: #FFF;
    opacity: 1;
    border-width: 2px;
    margin: 1.5rem 0px;
}
.right-btns-2{
    display: flex;
}
.right-btns-2 button,
.right-btns-2 a{
    background: transparent;
    border: none;
    padding: 0;
    font-family: "museo-sans-bold";
    color: white;
    font-size: calc(0.89vw + 1px);
    line-height: 1;
}
.right-btns-2 button:first-child{
    padding-right: 5px;
    border-right: 3px solid white;
    margin-right: 5px;
}
.mbrs-container{
    position: absolute;
    width: 43%;
    height: 68%;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 63, 61, 0.80);
    backdrop-filter: blur(5px);
    padding: 30px;
}
.mbrs-container .scroll-content{
    height: 100%;
    overflow-y: auto;
    scrollbar-color: #fff rgba(255, 255, 255, 0.25);
    scrollbar-width: thin;
    margin-right: -15px;
    padding-right: 15px;
}
.mbrs-container .scroll-content::-webkit-scrollbar {
    width: 5px;
}

.mbrs-container .scroll-content::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 5px;
}

.mbrs-container .scroll-content::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5px;
    
}
#mbr-tabs{
    padding-bottom: 15px;
    flex-wrap: nowrap;
    border-width: 2px;
}
#mbr-tabs.nav-tabs .nav-item .nav-link{
    border-radius: 10px;
    padding: 0;
    border-width: 3px;
    margin: 0 5px;
}
#mbr-tabs.nav-tabs .nav-item.show .nav-link,
#mbr-tabs.nav-tabs .nav-link.active{
    background: transparent;
    border: 3px solid #FDB924;
    
}
#mbrTabContent{
    padding-top: 15px;
}
#mbrTabContent h5{
    color: white;
    font-size: calc(1vw + 1px);
    color: #FDB924;
}
#mbrTabContent p{
    color: white;
    font-size: calc(0.9vw + 1px);
    font-family: 'museo-sans-light';
}
#mbrTabContent h6{
    color: white;
    font-size: calc(0.9vw + 1px);
    font-family: 'museo-sans-light';   
}
#mbrTabContent h6 button{
    color: white;
    font-size: calc(0.9vw + 1px);
    font-family: 'museo-sans-light';
    background: transparent;
    border: none;
    text-decoration: underline;
}
.webinar-container{
    border-bottom: 1px solid white;
    margin-bottom: 20px;
}
.password-info{
    color: white;
    font-size: 14px;
    font-family: 'museo-sans-light';
}
.launching-container{
    position: absolute;
    width: 50%;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.launching-container h1{
    color: #FDB924;
    font-size: 4vw;
    margin-bottom: 50px;
    font-family: 'museo-sans-bold';
}
.launching-container img{
    width: 45.53%;
}
.launching-container h4{
    color: white;
    font-size: 3.66vw;
    margin: 35px 0;
}
.launching-container p{
    color: white;
    font-size: 1.3vw;
}
.landing-btns{
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translateX(-50%);
}
.landing-btns button{
    border: 2px solid #00FFF7;
    background: linear-gradient(180deg, #FDB924 0%, #00A19C 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px 30px;
    color: white;
    font-family: 'museo-sans-bold';
    font-size: calc(4vw + 8px);
    margin: 0 10px;
    line-height: 1.1;
}
.input-error{
    text-align: left;
    color: rgb(220,53,69);
    font-size: 14px;
}
.center-btns{
    display: none;
}
.menu-items li:first-child{
    display: none;
}
.ham-btn{
    display: none;
}
.right-btns-mobile{
    display: none;
}
.agenda-dropdown{
    display: none;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    background: linear-gradient(180deg, rgba(253, 185, 36, 0.90) 0%, rgba(0, 161, 156, 0.90) 100%);
    box-shadow: 0px 0px 7px 0px rgba(0, 255, 242, 0.75);
    padding: 15px;
}
.agenda-dropdown button{
    all: unset;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}
.agenda-dropdown span{
    color: white;
    font-size: 22px;
    font-family: 'museo-sans-bold';
    margin-left: 10px;
    line-height: 1;
}
.agenda-dropdown img{
    width: 25px;
}
.agenda-content{
    transition: all .3s;
    /* transition: border-width .0s; */
    height: 0px;
    overflow: hidden;
    border-top: 0px solid white;
    padding-top: 15px;
    margin-top: -25px;
}
.custom-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.60);
    backdrop-filter: blur(5px);
    z-index: 9;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s;
}
.slider-popup{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    background: linear-gradient(180deg, rgba(0, 161, 156, 0.00) 0.4%, rgba(0, 161, 156, 0.20) 9.54%, rgba(0, 161, 156, 0.25) 49.48%, rgba(0, 161, 156, 0.20) 87.36%, rgba(0, 161, 156, 0.00) 100%);
    padding-top: 45px;
    z-index: 99;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s;
}
.custom-slider{
    width: 85%;
    margin: 0 auto;
}
.slider-controls{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    font-family: 'museo-sans-light';
}
.slider-controls span{
    font-family: 'museo-sans-light';
}
.left-btn{
    background: transparent;
    border: none;
    padding: 0;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 15px solid #fff;
    visibility: hidden;
}
.right-btn{
    background: transparent;
    border: none;
    padding: 0;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 15px solid #fff; 
}
.slide-count{
    color: white;
    margin: 0 10px;
}
.custom-slider img{
    display: none;
    opacity: 0;
    transition: opacity .3s;
}
.custom-slider img:first-child{
    display: block;
    opacity: 1;
}
.slider-close{
    background: transparent;
    border: none;
    margin-left: auto;
    display: block;
    width: 25px;
    transform: translate(-100%,100%);
}
.download-pdf{
    color: white;
}
.divider-heading{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 5px;
    font-size: 1.3vw;
    margin-bottom: 1rem;
}
.contact-block{
    padding: 15px;
    display: grid;
    grid-template-columns: 1.3fr 3fr 1fr;
    gap: 1rem;
    margin-bottom: 1rem;
}
.user{
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #00A19C;
    padding: 2px;
}
.user img{
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}
.user-detail h5{
    font-size: 1.05vw;
    font-family: 'museo-sans-bold';
}
.user-detail h5 span{
    color: #FDB924;
    font-family: 'museo-sans-bold';

}
.user-detail p{
    font-size: 0.8vw;
}
.border-right{
    border-right: 1px solid white;
}
.mail-link{
    color: #fff;
    text-decoration: none;
    font-size: 0.8vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.mail-link img{
    width: 40%;
    margin-bottom: 10px;
}
.announcment-popup{
    width: 392px;
    background: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(5px);
    padding: 25px 19px;
    position: fixed;
    top: -290px;
    z-index: 9;
    right: 5%;
    border-top: 4px solid rgba(0, 0, 0, 0.50);
    border-bottom: 4px solid rgba(0, 0, 0, 0.50);
    transition: all .3s ;
}
.announcment-container::after,
.announcment-container::before{
    content: "";
    height: 94px;
    width: 4px;
    background: rgba(0, 0, 0, 0.50);
    position: absolute;
    bottom: calc(100% + 25px);
    box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.25);
}
.announcment-container::before{
    left: 5%;
}
.announcment-container::after{
    right: 5%;
}

.announcment-container{
    background: rgba(0, 161, 156, 0.70);
    box-shadow: 0px 0px 10px 0px #00FFF7;
    padding: 25px 40px;
    position: relative;
    text-align: center;
    color: white;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.50), 0px 0px 5px rgba(255, 255, 255, 0.50);
}
.aud-btn{
    width: 100%;
    border: 2px solid white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    margin-top: 25px;
    display: block;
}
.maps-icons img{
    position: absolute;
    opacity: 0;
    transition: all .3s;
    cursor: pointer;
}
.maps-icons img:hover{
    opacity: 1;
    transform: scale(1.2);
}
.maps-icons img:nth-child(1){
    width: 9%;
    left: 53.5%;
    top: 25%;
}
.maps-icons img:nth-child(2){
    width: 9%;
    right: 19.5%;
    top: 20%;
}
.maps-icons img:nth-child(3){
    width: 9%;
    left: 28%;
    top: 35%;
}
.maps-icons img:nth-child(4){
    width: 9%;
    left: 28%;
    top: 42%;
}
.maps-icons img:nth-child(5){
    width: 7%;
    left: 45%;
    top: 39%;
}
.maps-icons img:nth-child(6){
    width: 10%;
    left: 54%;
    top: 43%;
}
.maps-icons img:nth-child(7){
    width: 10%;
    right: 25%;
    top: 37%;
}
.maps-icons img:nth-child(8){
    width: 8%;
    right: 15%;
    top: 40%;
}
.maps-icons img:nth-child(9){
    width: 7%;
    right: 6%;
    top: 43%;
}
.maps-icons img:nth-child(10){
    width: 7%;
    right: 7%;
    top: 30%;
}
.maps-icons img:nth-child(10){
    width: 7%;
    right: 7%;
    top: 30%;
}
.note{
    position: absolute;
    width: 28%;
    left: 28%;
    bottom: 30%;
}
.mobile-map-icons{
    display: none
}
@media(max-width:1199px){
    .menu-items{
        position: fixed;
        right: 0;
        top: 0;
        flex-direction: column;
        align-items: center;
        background: rgba(0, 0, 0, 0.60);
        box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(5px);
        gap: 15px;
        min-height: 100vh;
        padding: 30px;
        transform: translateX(100%);
        transition: transform .3s ease;
    }
    .menu-items a{
        font-size: clamp(16px, calc(2vw + 1px), 22px);
    }
    .menu-items a img{
        width: 100%;
    }
    .menu-items li:first-child{
        width: 100%;
        text-align: end;
        display: block;
    }
    .menu-items li:first-child a img{
        width: 18px;
    }
    .right-btns-2{
        display: none;
    }
    .right-btns-mobile{
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        border-top: 2px solid white;
        padding-top: 15px;
    }
    .right-btns-mobile button{
        font-size: clamp(16px, calc(2vw + 1px), 22px);
    }
    .right-btns-2 button:first-child{
        border: none;
        margin: 0;
    }
    .ham-btn{
        all: unset;
        cursor: pointer;
    }
    .menu-header .petronas-logo{
        width: 110px;
    }
    .menu-header{
        padding: 16px;
        background: transparent;
        box-shadow: none;
        backdrop-filter: unset;
    }
}
@media(max-width:991px){
    .landing-btns{
        display: flex;
    }
    .trans-header{
        padding: 20px;
    }
    .petronas-logo{
        width: 41px;
    }
    .custom-modal .modal-body{
        padding: 20px 40px;
    }
    .menu-links a{
        font-size: 4.2vw;
    }
    .menu-links li:nth-child(1) a {
        top: 54.5%;
        left: 11%;
    }
    .menu-links li:nth-child(2) a {
        top: 52.5%;
        left: 37%;
    }
    .menu-links li:nth-child(3) a {
        top: 54.5%;
        left: 71%;
    }
    .menu-links li:nth-child(4) a {
        top: 63.5%;
        left: 8%;
    }
    .menu-links li:nth-child(5) a {
        top: 63.5%;
        left: 71.3%;
    }
    .menu-links li:nth-child(6) a {
        top: 67.5%;
        left: 7%;
        width: 23%;
    }
    .menu-links li:nth-child(7) a {
        top: 69%;
        left: 41%;
        font-size: 3.26vw;
    }
    .menu-links li:nth-child(8) a {
        top: 68%;
        left: 63%;
        font-size: 3.7vw;
    }
    .menu-links li:nth-child(8) a {
        top: 68%;
        left: 70%;
        font-size: 3.7vw;
    }
    .pet50-logo{
        position: absolute;
        width: 45%;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
    }
    .center-btns{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .center-btns button,
    .center-btns a{
        background: transparent;
        border: none;
        text-align: center;
        color: white;
        font-size: calc(2vw + 14px);
        margin-bottom: 10px;
    }
    
    .properties-name li a{
        font-size: 4.2vw !important;
        margin: 0% !important;
    }
    .properties-name{
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        right: 50%;
        top: 18%;
        transform: translateX(50%);
        gap: 0px;
        width: 85%;
    }
    .properties-name li a{
        transform: unset !important;
        font-family: 'museo-sans-bold';
        font-size: 3.5vw !important;
        filter: drop-shadow(0px 0px 5px rgba(0, 255, 247, 0.75));
    }
    .properties-name li:nth-child(1)::after{
        width: 50%;
        left: 50%;
        transform: translateX(-50%);
        height: 2px;
        top: 100%;
    }
    .properties-name li:nth-child(1) a{
        font-size: 4vw !important;
    }
    .properties-name li:nth-child(2) a{
        font-family: 'museo-sans-light';
    }
    .properties-name li:first-child{
        width: 100%;
        margin-bottom: 4%;
        transform: rotate(-1deg);
    }
    .properties-name li:nth-child(2){
        width: 20%;
    }
    .properties-name li:nth-child(2) a{
        filter: unset;
    }
    .properties-name li:nth-child(3){
        width: 41%;
        transform: rotate(-1deg);
    }
    .properties-name li:nth-child(4){
        width: 20%;
        transform: rotate(-4deg) translateY(-10%);
    }
    .properties-name li:nth-child(5){
        width: 19%;
        transform: rotate(-5deg) translateY(-30%);
    }
    .note{
        display: none;
    }
    .maps-icons{
        display: none;
    }
    .mobile-map-icons{
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 46%;
        width: 90%;
    }
    .mobile-map-icons>div{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2%;
    }
    .mobile-map-icons img{
        width: 16%;
    }
    .block-title{
        background: linear-gradient(90deg, rgba(0, 161, 156, 0.00) 0%, #00A19C 8.3%, #00A19C 46.83%, rgba(0, 161, 156, 0.00) 100%);
        padding: 5px;
        padding-left: 8%;
        font-size: 2.8vw;
        color: white;
    }
    .block-title-2{
        background: linear-gradient(90deg, rgba(253, 185, 36, 0.00) 0%, #FDB924 8.3%, #FDB924 46.83%, rgba(253, 185, 36, 0.00) 100%);
        padding: 5px;
        padding-left: 8%;
        font-size: 2.8vw;
        color: #212121;
    }
    .innovative-arrow-sign {
        bottom: 23.5%;
        left: 4%;
        width: 40.5%;
    }
    #inovativeProperties{
        right: 50%;
        transform: translateX(50%);
        width: 95%;
    }
    #inovativeProperties li:first-child{
        width: 35%;
        transform: translateY(10%);
    }
    #inovativeProperties li:last-child{
        width: 65%;
    }
    #inovativeProperties.nav-tabs .nav-item .nav-link{
        transform: unset !important;
        width: 100%;
    }
    #inovativeProperties.nav-tabs .nav-link{
        padding: 5px;
    }
    #inovativePropertiesContent{
        right: 50%;
        transform: translateX(50%);
        width: 70%;
    }
    .info-btns button{
        font-size: 5.35vw;
    }
    .info-btns .faq-btn{
        left: 50%;
        top: 36%;
        transform: translateX(-50%);
    }
    .info-btns .contact-btn{
        left: 50%;
        top: 49%;
        transform: translateX(-50%);
    }
    .popup-bg{
        width: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        transform: unset;
        border-radius: 0;
        clip-path: unset;
        aspect-ratio: unset;
    }
    .info-popups{
        top: 8%;
        width: 85%;
        height: 80%;
        padding: 15px;
        padding-top: 35px;
    }
    .info-popups{
        background: linear-gradient(180deg, rgba(0, 161, 156, 0.00) 0.4%, rgba(0, 161, 156, 0.20) 13.23%, rgba(0, 161, 156, 0.25) 49.48%, rgba(0, 161, 156, 0.20) 87.36%, rgba(0, 161, 156, 0.00) 100%);
    }
    .popup-header{
        border-width: 2px;
        margin-bottom: 20px;
    }
    .faq-body{
        background: transparent;
        padding-left: 0;
    }
    .popup-header h2{
        font-size: 25px;
    }
    .popup-close{
        width: 18px;
    }
    .question-box h5{
        font-size: calc(1.38vw + 10px);
    }
    .question-box p{
        font-size: calc(1vw + 9px);
    }
    .question-box{
        border-width: 1px;
        margin-bottom: 16px;
    }
    .info-btns .download-btn{
        width: 80%;
        font-size: 5.35vw;
        top: 65%;
    }
    
    .contact-body p{
        font-size: calc(1vw + 11px);
    }
    .contact-body h6{
        font-size: calc(2.1vw + 11px);
        margin-bottom: 20px;
    }
    .email-btn{
        font-size: calc(1vw + 11px);
    }
    .mbrs-container{
        width: 90%;
        height: 50%;
        top: 21%;
    }
    #mbrTabContent p{
        font-size: calc(1vw + 8px);
    }
    #mbrTabContent h5{
        font-size: calc(1vw + 11px);
    }
    #mbrTabContent h6{
        font-size: calc(1.5vw + 12px);
    }
    #mbrTabContent h6 button{
        font-size: calc(1.5vw + 12px);
    }
    .mbrs-container{
        padding: 15px;
        padding-right: 20px;
    }
    .auditorium-video{
        width: 94%;
        top: 11.5%;
    }
    .agenda-btn{
        display: none;
    }
    .agenda-table td{
        font-size: 14px;
    }
    .agenda-table td:first-child{
        width: 80px;
    }
    .agenda-table td:last-child{
        width: calc(100% - 80px);
    }
    .scroller{
        width: 100%;
    }
    .scroll-to-view-more{
        position: absolute;
        bottom: 12%;
        left: unset;
        width: 50%;
        right: 0;
    }
    .mbr-log{
        width: 50%;
        right: 23%;
        top: 55%;
    }
    .showcase-container {
        position: absolute;
        width: 87%;
        left: 3%;
        top: 15%;
    }
    .showcase-container h2{
        font-size: 6vw;
    }
    .show-case-imgs{
        grid-template-columns: repeat(9, 1fr);
        gap: 2.5vw;
    }
    .custom-grid{
        grid-column-start:5 !important;
        grid-column-end:7 !important;
    }
    .custom-grid-2{
        grid-column-start:7 !important;
        grid-column-end:9 !important;
    }
    .logo-bg{
        margin: auto;
    }
    .launching-container p {
        color: white;
        font-size: 4vw;
    }
    .launching-container{
        width: 85%;
    }
    .launching-container img{
        width: 75%;
    }
    .launching-container h4{
        font-size: 7vw;
    }
    .launching-container h1{
        font-size: 7vw;
    }
    .agenda-dropdown{
        display: block;
    }
    .slider-popup{
        width: 85%;
    }
    .custom-slider{
        width: 100%;
    }
    .slider-close{
        transform: translate(0px);
    }
    .slider-popup{
        padding-bottom: 50px;
    }
    .user-detail h5 {
        font-size: 3.5vw;
    }
    .user-detail p {
        font-size: 2.4vw;
    }
    .mail-link{
        font-size: 2.4vw;
    }
    .contact-block{
        gap: 0.5rem;
        padding: 10px;
        margin-bottom: 0.5rem;
    }
    .info-popups-body{
        background: transparent;
        padding: 0;
        height: 90%;
    }
    .divider-heading{
        font-size: 4.2vw;
    }
    
    .popup-close{
        transform: translate(0);
    }
}